body {
  background-color: #283149;
}

h1 {
  color: aliceblue;
  font-size: 4rem;
  font-weight: 10;
  text-align: center;
  font-family: ultra;
}

.sets {
  text-align: center;
  margin: 10%;
}

.pressed {
  box-shadow: 0 3px 4px 0 #bdedf3;
  opacity: 0.5;
}

.drum {
  margin: 0 6px;
  padding: 40px;
  border-radius: 12px;
  font-size: 40px;
  background-color: darkslategrey;
  border: 0.4rem solid black;
  font-size: 3rem;
}
.drum:hover {
  background-color: gold;
}

.w {
  background-image: url("images/crash.png");
}
.a {
  background-image: url("images/kick.png");
}
.s {
  background-image: url("images/snare.png");
}
.d {
  background-image: url("images/tom1.png");
}
.j {
  background-image: url("images/tom2.png");
}
.k {
  background-image: url("images/tom3.png");
}
.l {
  background-image: url("images/tom4.png");
}
